Abgabe: 17.06.2026
	-Präsentation als PDF
	-Link zum Repository

Präsentation:
	-Präsentationsweise
		-Verständliche Sprache
		-Angemessenes Tempo
		-Lautstärke
		-Blickkontakt
		-Körpersprache
	-Visualisierung
		-Übersichtlichkeit
		-Lesbarkeit
		-Sinnvolle Nutzung von Bildern/Grafiken
		-Unterstützung des Gesagten
  	-Zeitmanagement
		-Vorgabe 5 Minuten einhalten
		-Gute Gewichtung der Punkte
		-Ähnliche Redezeit der Präsentatorinnen
	-Inhalt:
		-Erläuterung zum Team-Namen
		-3 Beispiele aus dem Code, bei denen uns aufgefallen ist, dass die Verwendung von Clean Code uns geholfen hat
		-Grafik zur Erläuterung des Algorithmus zur Linienverfolgung
		-Erläuterung, warum genau dieser Algorithmus

Code:
	-Einhalten der Regeln des digitalen Designs
		-Disziplin
		-Hierarchie
		-Modularität
		-Regularität
	-Einhaltung der Regeln des Clean Code (08_Einführung_in_Clean_Code Skript)
		Auszug:
		-Eindeutige, aussprechbare Namen
		-Namen verschiedener Variablen deutlich unterschiedlich benennen
		-Namen mit Sonderzeichen vermeiden
		-Variablen, Module, Dateien: Substantive
		-Funktionen, Methoden: Verben
		-Möglichst max. 2 Indentations
		-Kommentare nur wenn unbedingt notwendig
	-Erfolgreiches Absolvieren des Parcours

Repository (Robocar_INITIALEN1_INITIALEN2_2026):
  	-ReadMe
	-Schaltplan
	-Requirements
	-Grafik zur Erläuterung des Codes
	-source/src:
		-Motor.py
		-Sensor.py
		-Control.py
		-main.py
		-config.json
